# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# macOS
**/.DS_Store
**/.AppleDouble
**/.LSOverride

config.json
apprise.yml
apprise.yaml

*.log

**/.env
/rezervo/fusionauth.env
/rezervo/db.env

# Web Push VAPID keys
vapid_keypair.pem
vapid_private.txt
vapid_public.txt