# POSTGRES_PASSWORD and DATABASE_ROOT_PASSWORD must match!
POSTGRES_PASSWORD=
DATABASE_ROOT_PASSWORD=

DATABASE_PASSWORD=

FUSIONAUTH_API_KEY=
FUSIONAUTH_DEFAULT_TENANT_ID=

FUSIONAUTH_APP_MEMORY=512M